/* Gemeinsame Stile für .search-bar und .filter */
.search-bar,
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Stile für die Suchbox */
.search-bar input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

/* Stile für die Suchbox-Button */
.search-bar button {
  padding: 15px 30px;
  font-size: 18px;
  border: 2px solid #007bff;
  border-radius: 10px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #0056b3;
}

/* Stile für die Filter-Label */
.filter label {
  font-size: 20px;
}

/* Gemeinsame Stile für .card-list und .deck */
.card-list,
.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
}

/* Gemeinsame Stile für .card-item und .deck-item */
.card-item,
.deck-item {
  width: 150px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.card-item img,
.deck-item img {
  max-width: 100%;
  height: auto;
}

/* Stile für die Modal-Box */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
}

/* Stile für den Deck hinzufügen-Button */
.deck-button {
  padding: 20px 40px;
  font-size: 20px;
  border: 2px solid #28a745;
  border-radius: 10px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deck-button:hover {
  background-color: #218838;
}

/* Stile für den Kartenentfernungsbutton */
.remove-button {
  padding: 8px 15px;
  font-size: 14px;
  border: 2px solid #dc3545;
  border-radius: 10px;
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: #c82333;
}

/* Zusätzliche spezifische Stile für .deck */
.deck {
  margin-top: 20px;
  max-height: 300px; /* Maximalhöhe des Decks */
  overflow-y: auto; /* Vertikale Scrollbar anzeigen, wenn Inhalt überläuft */
}

/* Spezifische Stile für .card-list */
.card-list {
  max-height: 450px; /* Maximalhöhe des Ergebnisfelds */
  border: 2px solid #333; /* Umrandung dicker machen */
}

.deck-item {
  position: relative;
}

.deck-item .card-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}
