body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    height: 300px;
    width: 300px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-head {
    margin-bottom: 10px;
}

.decks-container {
    display: flex;
    flex-direction: column;
}

/* Optional: Stil für die Eingabe (input) hinzufügen */
input {
    margin-bottom: 5px;
}
