.deck {
    border: 4px solid #fff;
    padding: 20px;
    width: 0%;
  }
  
  .deck-cards {
    display: flex;
    flex-wrap: wrap;
  }
  
  .deck-card {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  
  /* Add other deck styles here */
  