body {
  background-image: url('/public/background.jpg'); /* Hier den Pfad zum Hintergrundbild einfügen */
  background-size: cover;
  background-position: center;
  color: white;
}

/* Gemeinsame Stile für .search-bar und .filter */
.search-bar,
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: black;
}

/* Stile für die Suchbox */
.search-bar input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  transition: border-color 0.3s ease;
  color: black; /* Schriftfarbe auf schwarz ändern */
}


.search-bar input[type="text"]:focus {
  border-color: #007bff;
}

/* Stile für die Suchbox-Button */
.search-bar button {
  padding: 15px 30px;
  font-size: 18px;
  border: 2px solid #007bff;
  border-radius: 10px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #0056b3;
}

/* Stile für die Filter-Label */
.filter label {
  font-size: 18px;
}

/* Gemeinsame Stile für .card-list und .deck */
.card-list,
.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
}

/* Gemeinsame Stile für .card-item und .deck-item */
.card-item,
.deck-item {
  width: 120px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card-item img,
.deck-item img {
  max-width: 100%;
  height: auto;
}

.card-item:hover,
.deck-item:hover {
  transform: translateY(-5px);
}


/* Zusätzliche spezifische Stile für .deck */
.deck {
  border: 4px solid #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100%; /* Breite auf 100% für mobile Geräte */
}

.deck-cards {
  display: flex;
  flex-wrap: wrap;
}

.deck-card {
  display: flex;
  align-items: center;
  margin: -8px;
}

.main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-card p {
  margin-top: 50px; 
  white-space: pre-line;
  width: 580px;
  height: 400px;
  font-size: 18px;

}

.deck-card img {
  width: 100px;
  height: auto;
}

/* Stile für den Deck-Zähler */
.deck-info {
  font-size: 16px;
  font-weight: bold;
  top: 10px;
  left: 10px;
  color: white;
}

/* Stile für die Filter-Container */
.filters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

/* Stile für die Filter */
.atk-def-filter,
.race-attribute-filter {
  margin-right: 20px;
}

.atk-def-filter label,
.race-attribute-filter label {
  font-size: 18px;
}

.atk-def-filter input,
.atk-def-filter select,
.race-attribute-filter select {
  width: 100px;
  padding: 8px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.atk-def-filter input[type="number"] {
  width: 80px;
}

.race-attribute-filter select {
  width: 120px;
}

.selected-card-container {
  border: 4px solid #fff;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  width: 30%; /* Festlegen der Breite auf 30% des Elternelements */
  font-size: 16px;
  transition: width 0.3s ease; /* Füge eine Übergangseigenschaft für die Breite hinzu */
}

/* Stile für die Kartenbeschreibung im ausgewählten Kartencontainer */
.selected-card-container .main-card p {
  margin-top: 20px; /* Verringere den oberen Abstand der Beschreibung */
  width: 100%; /* Setze die Breite der Beschreibung auf 100% */
  max-height: 300px; /* Setze die maximale Höhe der Beschreibung */
  overflow-y: auto; /* Füge eine Scrollleiste hinzu, wenn die Beschreibung zu lang ist */
}

/* Stile für die umgebende Container */
.search-results-container,
.deck-container {
  border: 4px solid #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 30%; /* Festlegen der Breite auf 30% des Elternelements */
  font-size: 16px;
  overflow-y: auto; /* Hinzufügen der Scrollleiste für den vertikalen Bereich */
  max-height: 750px; /* Definieren Sie die maximale Höhe für den Bereich, bevor die Scrollleiste erscheint */
}

/* Zusätzliche spezifische Stile für .main-container */
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.selected-card-container,
.search-results-container,
.deck-container {
  width: 30%;
  padding: 10px;
}

.selected-card-container,
.search-results-container {
  border: 4px solid #fff;
  border-radius: 10px;
  margin-bottom: 20px;
}

.selected-card-container .main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Stile für das Kartenbild im ausgewählten Kartencontainer */
.selected-card-container .main-card img {
  max-width: 100%; /* Setze die maximale Breite des Kartenbildes auf 100% */
  height: auto;
}

.deck-container .deck-box {
  position: relative;
}

.deck-container .deck-box h2 {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  padding: 5px 10px;
}

.deck-container .deck-box .deck-count {
  position: absolute;
  top: 10px;
  left: 10px;
}

.editor-button {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 8px;
}

.editor-button:hover {
  background-color: #0056b3;
}

#btnClear {
  background-color: red;
}

#btnClear:hover {
  background-color: darkred;
}


/* Zusätzliche spezifische Stile für .deck-container */
.deck-container {
  border: 4px solid #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 30%;
  font-size: 16px;
  overflow-y: auto;
  max-height: 750px;
  transition: width 0.3s ease; /* Füge eine Übergangseigenschaft für die Breite hinzu */
}

/* Zusätzliche spezifische Stile für .deck-container */
.deck-container.smaller {
  width: 20%; /* Verringere die Breite des Deck-Containers auf 20% */
}

/* Stile für die Karten im Deck-Container */
.deck-card {
  display: flex;
  align-items: center;
  margin: -8px;
  cursor: pointer; /* Zeige die Hand, um anzuzeigen, dass es anklickbar ist */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.deck-card img {
  width: 150px;
  height: auto;
}

.deck-card:hover {
  transform: translateY(-5px);
}

.deck-info {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

/* Stile für den Decknamen */
.deck-name {
  margin-top: 10px;
  font-size: 20px;
  color: white;
}

@media only screen and (max-width: 768px) {
  .search-bar,
  .filter {
    flex-direction: column;
    align-items: center;
  }

  .search-bar input[type="text"] {
    width: 100%; /* Make the search input full width */
    margin-bottom: 10px;
  }

  .deck-info,
  .deck-card img {
    width: 100px; /* Kleinere Größe für Deck-Informationen und Kartenbilder */
    height: auto;
  }

  .search-bar button {
    width: 100%; /* Volle Breite für Such-Button */
  }

  .deck-container,
  .selected-card-container,
  .search-results-container {
    width: 100%; /* Ändern Sie die Breite auf 100% für alle Container auf kleinen Bildschirmen */
  }
}

@media only screen and (max-width: 414px) {
  .search-bar,
  .filter {
    flex-direction: column;
    align-items: center;
  }

  .search-bar input[type="text"] {
    width: 100%; /* Make the search input full width */
    margin-bottom: 10px;
  }

  .main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }

  .deck-info,
  .deck-card img {
    width: 100px; /* Kleinere Größe für Deck-Informationen und Kartenbilder */
    height: auto;
  }

  .selected-card-container img {
    width: 70%; /* Breite der Bilder auf 70% im selected-card-container festlegen */
    height: auto;
    max-width: 100%; /* Sicherstellen, dass die Bilder nicht breiter als ihr Container werden */
  }

  .search-bar button {
    width: 100%; /* Volle Breite für Such-Button */
  }

  .deck-container,
  .selected-card-container,
  .search-results-container {
    width: 100%; /* Ändern Sie die Breite auf 100% für alle Container auf kleinen Bildschirmen */
  }
  .selected-card-container,
  .deck-container {
    order: 2; /* Ändern Sie die Reihenfolge von selected-card-container und deck-container auf kleinere Bildschirme */
  }
}
